<!doctype html>
{% load static %}
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- -------------------------------- Title -------------------------------- -->
        <title>
            {% block title %}{% endblock title %} || Sellshop
        </title>
        <!-- ------------------------------ Title end ------------------------------ -->

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
        <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
        <!-- Place favicon.ico in the root directory -->
		<!-- google fonts -->
		<link href='https://fonts.googleapis.com/css?family=Lato:400,900,700,300' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
		<!-- all css here -->
		<!-- bootstrap v3.3.6 css -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- animate css -->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
		<!-- pe-icon-7-stroke -->
		<link rel="stylesheet" href="{% static 'css/materialdesignicons.min.css' %}">
		<!-- pe-icon-7-stroke -->
		<link rel="stylesheet" href="{% static 'css/jquery.simpleLens.css' %}">
		<!-- jquery-ui.min css -->
        <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
		<!-- meanmenu css -->
        <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
		<!-- nivo.slider css -->
        <link rel="stylesheet" href="{% static 'css/nivo-slider.css' %}">
		<!-- owl.carousel css -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
		<!-- style css -->
		<link rel="stylesheet" href="{% static 'style.css' %}">
		<!-- responsive css -->
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
		<!-- modernizr js -->
        <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
        <!-- other css -->
        {% block css %}
        {% endblock css %}
    </head>
    <body>

        <!-- ------------------------------- Navbar -------------------------------- -->
        {% include 'partials/_navbar.html' %}
        <!-- ----------------------------- Navbar end ------------------------------ -->

        <!-- ------------------------------- Content ------------------------------- -->
        {% block content %}
        {% endblock content %}
        <!-- ----------------------------- Content end ----------------------------- -->

        <!-- ------------------------------- Footer -------------------------------- -->
        {{test}}
        {% include 'partials/_footer.html' %}
        <!-- ----------------------------- Footer end ------------------------------ -->

		<!-- --------------------------- All JavaScript ---------------------------- -->
		<!-- jquery latest version -->
        <script src="{% static 'js/vendor/jquery-1.12.3.min.js' %}"></script>
		<!-- bootstrap js -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
		<!-- owl.carousel js -->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<!-- meanmenu js -->
        <script src="{% static 'js/jquery.meanmenu.js' %}"></script>
		<!-- countdown JS -->
        <script src="{% static 'js/countdown.js' %}"></script>
		<!-- nivo.slider JS -->
        <script src="{% static 'js/jquery.nivo.slider.pack.js' %}"></script>
		<!-- simpleLens JS -->
        <script src="{% static 'js/jquery.simpleLens.min.js' %}"></script>
		<!-- jquery-ui js -->
        <script src="{% static 'js/jquery-ui.min.js' %}"></script>
		<!-- load-more js -->
        <script src="{% static 'js/load-more.js' %}"></script>
		<!-- plugins js -->
        <script src="{% static 'js/plugins.js' %}"></script>
		<!-- main js -->
        <script src="{% static 'js/main.js' %}"></script>
        <!-- other js -->
        {% block js %}
        {% endblock js %}
        <!-- ------------------------- All JavaScript end -------------------------- -->
    </body>
</html>